[Unit]
Description="Groceries App"
After=network.target

[Service]
Environment="GOPATH=/home/homeserver"
WorkingDirectory=/home/homeserver/checklist
ExecStart=go run /home/homeserver/checklist/main.go
Restart=always
User=root

[Install]
WantedBy=multi-user.target
