html {
  font-size: max(250%, 45px);
}
.newProductInput {
  width: max(98.5%, 150px);
  padding: 14.5px 0px 14.5px 0.5%;
  margin-right: max(3%, 6px);
  /* font-size: 150%; */
}
.newProductButton {
  width: max(99%, 150px);
  /* margin-right: 7px; */
  height: 100%;
  padding: 20px 4.5px 20px 4.5px;
}
.itemDelete {
  margin-left: 85%;
  padding: 2px 3px 2px 3px;
}
.Item {
  margin-bottom: max(25px, 2.5%);
}
.Item:hover {
  background: #ad2333;
}
.Item:hover::before {
  content: "(Done) ";
}
.newProduct {
  position: fixed;
  bottom: 1%;
  width: 100%;
}
